.yt-center{
    margin: 0 auto;
    width: 990px;
    text-align: center;
}
.yt-trabecula{
    height: 220px;
}
.yt-left{
    float: left;
}
.yt-right{
    float: right;
}
.yt-margin-100px{
    margin-right: 105px;
}
.yt-padding-50px{
    padding-left: 50px;
}
.blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#e74c3c;
}
/* 这里是毛玻璃特效 */
.yt-frosted-glass{
    background-color: rgb(0, 0, 0,0.7);
}
.yt-frosted-glass:hover{
    background-color: rgb(0, 0, 0,0.5);
}
.yt-title-right{
    text-align: right;
}
.yt-title-left{
    text-align: left;
}