@charset "UTF-8";
/* 废弃的css */
/* .top-tilte{
	text-align: center;
}
.login-from{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	border: solid 1px #000;
	position: relative;
	border-radius: 5px;
}
.login-from input{
	margin-bottom: 10px;
	border: 0px;
	border-bottom: 1px solid #000;
}
.login-from span{
	position: absolute;
	left: 45px;
}
.a-bottom-1,.a-bottom-2{
	position: absolute;
	display: block;
	text-decoration: none;
}
.a-bottom-1{
	bottom:3px;
	left: 25px;
}
.a-bottom-2{
	bottom: 0;
	right: 10px;
}
.a-bottom-2:hover,.a-bottom-1:hover{
	color: red;
	
}
.input-bottom-3{
	position: absolute;
	display: block;
	bottom: -6.5px;
}
.from-pre-div{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	position: relative;
} */

/* 正在用的css */
